.list-overflow ul {
  margin: 0;
}

.list-overflow li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow li * {
  cursor: pointer;
}

.list-overflow li a {
  color: #557A95;
}

.list-overflow li:first-child {
  border-top: none;
}

.list-overflow li:last-child {
  border-bottom: none;
}
